.Sidebar {
  background-color: #2d445d;
  /* 追加 */
  position: fixed;
  left: -220px;
  width: 220px;
  height: 100vh;
  transition: left 0.4s ease-out;
}

/* ✅ 小さい画面に最適化 */
@media screen and (max-width: 600px) {
  .Sidebar {
    width: 180px; /* ✅ 小さい画面ではコンパクトに */
  }
}


.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList #active {
  background-color: #3b627a;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  /* background-color: rgb(154, 170, 65); */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #3b627a;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: auto;
  height: 100px; /* 高さを固定 */
  clip-path: circle(50px at center); /* 高さの半分を半径として円形にクリップ */
  object-fit: cover; /* 画像の表示を調整 */

}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

/* 追加 */
.MenuButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #3b627a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

/* 追加 */
.Sidebar.open {
  left: 0;
}

/* 追加 */
.Sidebar.closed {
  left: -220px;
}